/*
General CSS styles

Copyright (C) 2020 Clovrlabs SL

This program is free software: you can redistribute it
and/or modify it under the terms of the GNU General Public License as published
by the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see https://www.gnu.org/licenses/.
*/

a {
  color: #001f3f;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #001f3f;
  border: 0.1rem solid #001f3f;
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  color: #001f3f;
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
  color: #001f3f;
}

pre.prettyprint .lit {
  color: #001f3f;
}

.share-icon {
  background-color: #001f3f;
  color: #ffffff;
}

pre {
  background: #f4f5f6;
  border-left: 0.3rem solid #001f3f;
}

pre.prettyprint {
  border-left: 0.3rem solid #001f3f !important;
  color: #655d5d;
}

pre.prettyprint .tag {
  color: #001f3f;
}

pre.prettyprint .atn {
  color: #0065ce;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  border: 0.1rem solid #001f3f;
}

.github-corner {
  color: #f4f5f6;
  fill: #001f3f;
}
