/*
Option page styles

Copyright (C) 2020 Clovrlabs SL

This program is free software: you can redistribute it
and/or modify it under the terms of the GNU General Public License as published
by the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see https://www.gnu.org/licenses/.
*/

body {
  font-family: 'Roboto Slab', serif;
  padding-top: 1.5rem;
}

.container {
  max-width: 60rem;
}

.error {
  font-weight: bold;
  color: #bf360c;
}

.success {
  font-weight: bold;
}

#apiKey {
  min-height: 12rem;
}

.footer p {
  display: inline-block;
  padding-left: 1rem;
}
